@{
    ViewBag.Title = "Contact";
}



<h3 style="padding-left :250px">Thông tin liên hệ</h3>


<h3 style="padding-left :250px">Liên hệ với chúng tôi</h3>
<address style="padding-left :250px">
    Vọng, Long
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    086 263 7921
</address>

<address style="padding-left :250px">
    <strong>Email:</strong>  vongdoan9@gmail.com</a> <br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/jos.vong">Vọng Đoàn</a>,
     <a href="https://www.facebook.com/long.liion">Lâm Hoàng Long</a>
</address>